// Colors

$white: #ffffff;
$athens-gray: #f7f7f8;
$cod-gray: #1b1b1b;
$torch-red: #f91429;
$bombay: #b6bbc2;
$carnation: #f84757;
$bittersweet:#FF6E5C;
$azure-radiance: #067DFF;
$mystic: #E5E9EF;
$black: #000000;

// Fonts

$sf-compact-display: 'SF UI Display', sans-serif;
$sf-pro-text: 'SF UI Text', sans-serif;

$font-family-primary: $sf-compact-display;
$font-family-secondary: $sf-pro-text;

$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-16: 16px !default;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-19: 19px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-25: 25px;

$font-weight-light: 300;
$font-weight-regular: 400 !default;
$font-weight-bold: 700;
$font-weight-semibold: 600;